// Define variables for your color scheme

// For example:
$red: #FD1015;
$redGoogle: #E0423C;
$blue: #508ED5;
$yellow: #FFC65A;
$orange: #F47C21;
$green: #1EDD88;
$grey: #0E0000;
$light-grey: #F4F4F4;
$lighter-grey: #F8F8F8;
