h1 {
  font-size: 32px;
  font-weight: semi-bold;
  color: $orange;
  text-align: center;
  margin: 24px 0px;
}

h2 {
  font-size: 18px;
  font-weight: 600px;
  color: $blue;
  margin-bottom: 0px;
  // text-align: center;
}

p {
  color: $dark-grey;
}

a {
  text-decoration: none;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}
