h1 {
  font-size: 32px;
  font-weight: semi-bold;
  color: $orange;
  text-align: center;
  margin: 24px 0px;
}

h2 {
  font-size: 18px;
  font-weight: 600px;
  color: $blue;
  text-align: center;
}

p {
  color: #5A5A5A;
}

a {
  text-decoration: none;
}
