.hover-smooth {
  a {
    text-decoration: none;
  }
  &:hover {
      text-decoration: none;
      opacity: 0.6;
      cursor: pointer;
      transition: color .2s ease-out;
    }
}

.post-header {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.post-author {
  margin: 0px 4px;
  width: 30%;
}

.border-center {
  border-bottom: $blue 1px solid;
  transform: translateY(-50%);
  align-self: center;
  flex: 1 1 auto;
}

.details-show {
  display: flex;
  align-items: center;
  font-size: 12px;
  a {
    color: $blue;
  }
}

.post-picture {
  text-align: center;
  margin: 32px auto 0;
}

.post-sharing {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i {
    margin-left: 16px;
    color: $orange;
    font-size: 24px;
  }
  p {
    margin: 0px 24px 0px 0px;
    font-weight: 600;
  }
}

.post-content {
  padding-bottom: 0px;
}

@media(max-width: 992px) {
  .post-author {
    width: 50%;
  }
}

@media(max-width: 768px) {
  .post-author {
    width: 70%;
  }
  .post-sharing {
    justify-content: center;
  }
}

@media(max-width: 626px) {
  .img {
    width: 200px;
    height: 120px;
  }
}
