<div class="footer">
  <div class="main-container">
      <div class="footer-intro">
        <p>Bonjour, nous c’est MorningCroissant, la place de marché  dédiée à la location de logements en moyenne et longue durée.<br>Notre mission ? Rendre la location plus simple, plus juste et plus sécurisée pour les locataires et les loueurs. Tout simplement :)</p>
      </div>
      <div class="footer-breadcrumb">
        <p>MC Blog > page 1 > page 2 > page 3</p>
      </div>
      <div class="footer-susbscribe">
        <p>Recevez nos derniers posts par email. Un par semaine. Pas de spam :)</p>
        <div class="susbscribe-form">
          <div class="subscribe-input">
            <p>Entrez votre adresse email</p>
          </div>
          <a href="#" class="btn-orange">S'abonner</a>
        </div>
      </div>
  </div>
</div>
