<h1>Simplifier et sécuriser la location</h1>
<p>Nos derniers posts</p>
<% @posts.each do |post| %>
  <ul>
    <%= post.title  %><br>
    <%= post.content %><br>
    <%= post.user.email %><br>
    <br>
    <br>
  </ul>

<% end %>

