.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  :hover {
    box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    cursor: pointer;
  }
}


.card {
  border-radius: 4px;
  width: 280px;
  height: 400px;
  background: white;
  box-shadow: 2px 2px 4px rgba(30,30,30,0.2);
  margin: 0px auto;
  padding: 16px;
}
