.main-container {
  width: 976px;
  margin: 0 auto;
}

.post-wrapper {
  background-color: white;
  width: 100%;
  h1 {
    margin-top: 16px;
  }
  padding-top: 24px;
}

.category-wrapper {
  background-color: $lighter-grey;
  padding: 32px 0px;
  width: 100%;
  h4 {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    color: $blue;
  }
  // .footer {
  //   margin-top: 0px;
  // }
}

.center {
  justify-content: center;
}

@media(max-width: 992px) {
  .main-container {
    width: 80%;
  }
}

@media(max-width: 768px) {
  .main-container {
    width: 70%;
  }
}
